/* /*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
h1{
	text-align: center
}
h2{
	text-align: center
}
#Playlist{
	border:solid ;
	background:white;
	border-radius:10px;
	
}

#Playlist a{
	text-decoration-line:none;
}
#Playlist ul{
	list-style:none;
}
#media{
	background-color: rgb(255, 255, 255); 
	padding:10px; 
	border:solid;
	border-radius:10px;
	width:80%;
	margin-left:10%
}
.player_one{
	width:100%;
	background-color:rgb(255, 255, 255);
}
.player_two{
	width:100%;
	background-color:rgb(255, 255, 255);

}
 */